.alert_danger {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  width: 100%;
  background: $danger;
  color: $txt-light;
}

.alert_success {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  width: 100%;
  background: $success;
  color: $txt-dark;
}
