.container {
  display: flex;
  flex-direction: column;
  height: 92vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  .auth {
    margin-top: 3vh;
    a {
      padding: 20px;
    }
  }
}

.container2 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 93vh;
  align-items: center;
  background: $light-bg2;
}
